
<h1> Tasks </h1>

<table class="table table-responsive">

    <thead>
        <th>  date</th>
        <th> description </th>
        <th> due date </th>
        <th> status </th>
        <th> date completed</th>
        <th> &nbsp;</th>
    </thead>
    {{#each data}}
    <tr>
        <td> {{this.date}} </td>
        <td> {{this.description}} </td>
        <td> {{this.due}} </td>
        <td> {{this.completed}} </td>
        <td> {{this.complete_date}} </td>
        <td> <a href="/tasks/edit/{{this._id}}">Edit</a> &nbsp; <a href="/tasks/delete/{{this._id}}">delete</a> </td>
    </tr>
    {{/each}}
</table>

{{#extend "title"}}
    Tasks
{{/extend}}