
<h1> Tasks </h1>

<table class="table table-responsive">

    <thead>
        <th>  date</th>
        <th> description </th>
        <th> due date </th>
        <th> status </th>
        <th> date completed</th>
        <th> &nbsp;</th>
    </thead>
    {{#each data}}
    <tr {{#if this.completed}}class="table-danger" {{/if}} {{#unless this.completed}} class="table-success"{{/unless}}>
        <td> {{formatTime this.date "DD-MM-YYYY hh:mm a"}} </td>
        <td> {{this.description}} </td>
        <td> {{formatTime this.due "DD-MM-YYYY hh:mm a"}} </td>
        <td> {{#if this.completed}} completed {{/if}} {{#unless this.completed}} pending {{/unless}} </td>
        <td> {{formatTime this.complete_date "DD-MM-YYYY hh:mm a"}} </td>
        <td> <a href="/tasks/edit/{{this._id}}">Edit</a> &nbsp; <a href="/tasks/delete/{{this._id}}">delete</a> </td>
    </tr>
    {{/each}}
</table>

{{#extend "title"}}
    Tasks
{{/extend}}